
body {
  margin: 50px;
}

/*header*/

header {
  font-family: 'Shadows Into Light', cursive;
  color: palevioletred;
  font-size: 24px;
  text-align: center;
  margin: 10;
  padding: 10px;
  background-color: black;
  background-size: 300px;
}
/*intro list*/
ul {
  font-size: 24px;
  text-align: left;
  font-family: 'Shadows Into Light', cursive;
  color: palevioletred;
}
/*horizontal ruler design*/
  hr {
  height: 4px;
  background-color: palevioletred;
  border: 2px solid black;
      /* size style color */
  margin-top: 30px;
  margin-bottom: 30px;
}
a:link {
  color:purple;
}

/* visited link */
a:visited {
  color: rgb(56, 150, 140);
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: lightblue;
}

/*top of each section*/
.pink-text{
 font-family: 'Shadows Into Light', cursive;
  color: palevioletred;
 
